/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #34495e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.ul-encabezados {
    list-style-type: none;
    padding: 0;
}

ul.ul-encabezados li {
    display: inline;
    margin-right: 20px;
}

ul.ul-encabezados a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos para el m贸dulo de modificaci贸n de reserva */
.modulo {
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #34495e; /* Cambia el color del texto del formulario */
}

.modulo-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.modulo-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%; /* Asegura que los elementos ocupen todo el ancho del contenedor */
}

.top-left,
.top-right {
    flex: 1;
}

.top-right {
    margin-left: 20px;
}

.middle-section {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
    color: #34495e; /* Cambia el color del texto del formulario */
}

select {
    width: 40%;
}

button[type="submit"] {
    background-color: #34495e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

/* Efecto de hover para botones */
button[type="submit"]:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el cursor sobre el bot贸n */
}

/* Estilos para el logo */
#logo {
    margin-left: 20px;
}

#logo img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el encabezado de navegaci贸n */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para los mensajes de error */
.error-message {
    color: red;
    font-weight: bold;
}
