/* Estilos generales */
body, header, footer {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  background-color: #34495e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav.navegacion {
  color: #34495e;
  padding: 10px;
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  background-color: #34495e;
  font-size: 16px;
  padding: 0px 0px 0px 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 140px;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 8px 0px 8px 0px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: #ffffff;
}

nav ul li a:hover {
  color: #969696;
}

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-bottom: 20px; /* Espacio entre tablas */
  font-size: 14px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

/* Estilos para los botones en las tablas */
table button {
  background-color: #555;
  color: white; /* Cambiamos el color del texto a blanco */
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  text-decoration: none; /* Quitar la decoración de texto */
}

/* Estilos para la columna de "Descripción" en la tabla */
table td.descripcion {
  white-space: normal;
  word-wrap: break-word;
}

table button:hover {
  background-color: #34495e;
  color: white; /* Cambiamos el color del texto a blanco al pasar el cursor */
}

/* Estilo específico para los botones en las tablas de módulos */
.modulo table button {
  padding: 6px 12px;
}

/* Estilos para los botones de crear, Modificar y Eliminar fuera de las tablas */
.crear-button, .modificar-button, .eliminar-button {
  background-color: #555;
  color: white; /* Cambiamos el color del texto a blanco */
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none; /* Quitar la decoración de texto */
}

.crear-button:hover, .modificar-button:hover, .eliminar-button:hover {
  background-color: #34495e;
  color: white; /* Cambiamos el color del texto a blanco al pasar el cursor */
}

/* Estilos para la barra de navegación lateral */
nav.panel {
  padding: 30px 10px 10px 10px;
  width: 200px;
  position: fixed;
  height: 100%;
}

/* Estilos para los módulos */
main {
  margin-left: 220px;
  padding: 20px 50px 0px 0px;
}

.modulo {
  background-color: #f1f1f1;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  width: calc(100% - 40px);
}

.modulo-header {
  background-color: #555;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.modulo-content {
  padding: 10px;
}

/* Estilos para el pie de página */
footer {
  background-color: #34495e;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos generales de la ventana modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #34495e;
}

/* Estilos del contenido de la ventana modal */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para la sección de consultas */
/* Estilo para el campo de entrada de texto */
.campo-entrada {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el botón del formulario */
.crear-button {
  background-color: #555;
  color: #fff;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none; /* Quitar la decoración de texto */
}

.crear-button:hover {
  background-color: #34495e;
  color: #fff;
}

.boton_consultar {
  font-size: 16px;
}
